@media only screen and (max-width: 480px) {
   
   
#header{ max-width:100%;}


    
#section,#container{ 
    width: 100%;
    padding:0;
}

#footer{
    width:auto;
}

#nav{ width:100%}

video { max-width:100%;}

img { max-width:100%;}

body{margin:0;}

h2,h3 { 
text-align:center;
margin-top:0;
margin-bottom:0,5em;
font-size:90%;
max-width:100%;
}


select, input { height:25px; }

h1 {font-size:90%; text-align:right;}

}