@media only screen and (max-device-width: 480px) {
   
   
#header{ max-width:100%;}


    
#section,#container{ 
    width: 350px;
}

#footer{
    width:auto;
}

#nav{ width:350px;}

video { max-width:100%;}

img { max-width:100%;}

body{margin:0;}

h2,h3 { 
text-align:center;
margin-top:0;
margin-bottom:0,5em;
font-size:90%;
max-width:100%;
}

h1 {font-size:90%; text-align:right;}

}